.page.landing-page {
  background-image: url("../../assets/img/cars/white-mercedes-benz-interior-design-193999.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 20px;
  margin-top: 0px;
  padding-bottom: 20px;
  text-align: center;
}

.btn.btn-outline-danger.btn-lg.text-danger {
  color: #f9f9f9;
}

.clean-block .block-heading h1, .clean-block .block-heading h2, .clean-block .block-heading h3 {
  background-color: rgba(0,0,0,0.075);
}

.fa.fa-dashboard.icon {
  color: #ef1a1a;
}

.btn.btn-outline-danger.btn-lg.text-danger {
  background-color: #888888;
}

