/* --- Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Raleway&display=swap');

/* CSS rules to specify families

font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */

/*---Navbar---*/

.navbar.navbar-dark.navbar-expand-lg {
    text-align: center;
    background-color: #070707;
}

#logo-image {
    background-color: #fcc309;
    border: 1px solid #f9d616;
    border-radius: 50px 50px;
    width: 3.6rem;
}

#logo-image:hover {
    background-color: #ef1a1a;
}

.navbar-dark .navbar-toggler {
    background-color: #2d51ff;
    filter: brightness(173%);
}

.navbar-brand {
    margin: 0;
}

a.nav-link.active a:hover,
a.nav-link.active a:focus {
    text-decoration: none;
    color: #ef1a1a;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
    padding: 0px;
    margin-right: 0px;
}

.nav.navbar-nav {
    margin-left: auto;
    float: right;
    display: flex;
    text-align: center;
}

.nav-item.navitems {
    text-align: right;
}

/*---Landing page---*/

.page.landing-page {
    background-image: url("../../assets/img/cars/white-mercedes-benz-interior-design-193999.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.clean-block.clean-hero {
    background-image: url("../../assets/img/logo/close-up-of-gear-shift-over-black-background-248539.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: rgba(44,39,9,0.51);
}

.clean-block.clean-hero h2 {
    color: #f9d616;
    font-size: xx-large;
    font-weight: 300;
}

#header,
#logo {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    color: #f9d616;
    margin-top: 1.8rem;
    padding: 1.4rem;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 25%;
}

.clean-block .block-heading h1,
.clean-block .block-heading h2,
.clean-block .block-heading h3 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    display: inline-block;
    box-shadow: 6px 8px 6px 0px;
    background-color: hsla(0, 0%, 0%, 0.075);
}

#landing-lead-text {
    margin-bottom: 6rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.clean-block .block-heading p {
    color: #212529;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    text-align: center;
    max-width: 41rem;
    margin: 30px auto;
    padding: 15px;
    box-shadow: 1px 1px 10px 0px;
    opacity: 0.8;
}

.display-4 {
    line-height: 50px;
    padding: 10px;
    display: inline-block;
    color: #fff;
    background-color: hsla(44, 39, 9, 0.51);
}

.text-light {
    background-color: rgba(44, 39, 9, 0.51);
}

.col-md-5.feature-box {
    color: #fff;
    background-color: rgba(44, 39, 9, 0.51);
}

.fa.fa-building-o.icon {
    color: #ef1a1a;
}

.fa.fa-graduation-cap.icon {
    color: #ef1a1a;
}

.fa.fa-heart.icon {
    color: #ef1a1a;
}

.fa.fa-dashboard.icon {
    color: #ef1a1a;
}

/* --- Gallery page --- */

.carousel-item {
    transition: transform 5s ease, opacity .5s ease-out;
}


/* --- About-Us page --- */

.clean-card,
.card {
    box-shadow: 5px 6px 10px 0px rgb(0 0 0 / 85%);
    /* min-height: 80vh; */
}

/*---Pricing page---*/

.clean-pricing-item .price h4 {
    color: #ef1a1a;
    font-size: 28px !important;
    font-family: 'Lato', sans-serif;
}

.clean-pricing-item {
    box-shadow: 5px 6px 10px 0px rgb(0 0 0 / 85%);
    padding: 20px;
    margin: 20px;
}


/*---Testimonials page---*/

.clean-testimonial-item p {
    color: #0d0c0c;
    padding: 10px;
}

.clean-testimonial-item h3 {
    text-align: right;
    color: #070707;
    padding: 10px;
}

span {
    color: #0d0c0c;
}

/*---Contact Form---*/

.page.contact-us-page {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 20px;
    margin-top: 0px;
    padding-bottom: 20px;
    text-align: center;
    background-image: url("../../assets/img/cars/action-asphalt-automobile-automotive-593172.jpg");
}

.clean-block.dark .block-heading p {
    display: block;
    text-align: center;
}

.clean-block.clean-form.dark {
    background-color: transparent;
}

.clean-block.clean-form form {
    text-align: left;
    font-weight: 400;
    color: #ffffff;
    border-radius: 15px;
    border: 1px solid rgba(44,39,9,0.51);
    background-color: #555555;
    opacity: 0.8;
    max-width: 1200px;
    width: 100%;
}

/*---Buttons---*/

.btn-warning {
    background-color: #fcc309;
    border-color: #ffc107;
}

.btn.btn-outline-danger.btn-lg.text-danger {
    background-color: #f9f9f9;
    color: #ef1a1a;
    opacity: 0.58;
    filter: contrast(173%);
}

.btn.btn-primary.btn-block.d-block,
.btn-primary {
    text-align: center;
    background-color: #2d51ff;
    font-weight: bold;
    font-family: inherit;
    color: #f9f9f9;
    width: 175px;
    margin: 45px auto;
    border-radius: 10px;
    border: 0.5px solid #070707;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*---Footer---*/

#myFooter {
    background-color: #070707;
    padding: 5px;
    height: auto;
}

#footer-content {
    margin-bottom: 3%;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 2;
}

.footer-titles {
    font-size: 1.1rem;
    color: #fff;
    font-weight: bold;
    margin-top: 25px;
}

#myFooter a {
    color: #fff;
    text-decoration: none;
}

#myFooter .btn:hover,
#myFooter .btn:focus {
    text-decoration: none;
    color: #fff;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: #ef1a1a;
}

#myFooter .social-links {
    padding-top: 20px;
    padding-bottom: 10px;
}

#myFooter .social-links a {
    font-size: 1.3rem;
    padding: 10px;
    transition: 0.2s;
}

#myFooter #facebook:hover {
    color: #0077e2;
}

#myFooter #twitter:hover {
    color: #1ac4ef;
}

#myFooter #instagram:hover {
    color: #ef1a1a;
}

#myFooter #youtube:hover {
    color: #fa1c1c;
}

#myFooter .btn {
    background-color: #2d51ff;
    border-radius: 10px;
    border: 0.5px solid #f9d616;
    width: 160px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    line-height: 20px;
}

.col-12.col-md-3.col-xl-3 {
    align-self: center;
}

#copyright-text {
    text-align: center;
    height: 2.5rem;
    margin-bottom: 0px;
    padding: 10px;
    opacity: 0.8;
    filter: saturate(96%);
    font-size: 0.7rem;
    font-style: oblique;
}

/*---Media Queries---*/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .clean-block.clean-hero {
    min-height: 95vh;
    padding-bottom: 5%;
    }

    #myFooter {
        height: 100vh;
    }

    #footer-content {
        margin-bottom: 16%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    
    .clean-block.clean-hero .text {
    padding: 1rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .card {
    min-height: 750px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .clean-block.clean-hero {
    justify-content: center;
    display: flex;
    min-height: 91vh;
    padding-bottom: 5%;
    }

    .card {
    min-height: 750px;
    }
}