/*---Navbar---*/

.navbar.navbar-dark.navbar-expand-lg {
    text-align: center;
    background-color: #070707;
}

    #logo-image {
    background-color: #fcc309;
    border: 1px solid #f9d616;
    border-radius: 15px;
    width: 75px;
}

.navbar-dark .navbar-toggler {
    background-color: #ef1a1a;
    filter: brightness(173%);
}

.navbar-dark .navbar-brand {
    margin: 0px;
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    padding: 0px;
    margin-right: 0px;
}

.nav.navbar-nav {
    margin-left: auto;
    float: right;
    display: flex;
    text-align: center;
}

.nav-item.navitems {
    text-align: right;
}

/*---Landing page---*/

.page.landing-page {
    background-image: url("../../assets/img/cars/white-mercedes-benz-interior-design-193999.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.clean-block.clean-hero {
    background-image: url("../../assets/img/logo/close-up-of-gear-shift-over-black-background-248539.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: rgba(44,39,9,0.51);
}

.clean-block.clean-hero h2 {
    color: #f9d616;
    font-size: xx-large;
    font-weight: 300;
}

.h2, h2 {
    font-size: 28px;
    color: #f9d616;
    margin-top: .5rem;
    padding: 1rem;
}

.clean-block .block-heading h1, .clean-block .block-heading h2, .clean-block .block-heading h3 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    display: inline-block;
    background-color: rgba(0,0,0,0.075);
}

.clean-block.clean-hero p {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.clean-block .block-heading p {
    color: #212529;
    font-weight: 400;
    text-align: center;
    max-width: 420px;
    margin: 15px auto;
    padding: 15px;
    opacity: 0.8;
}

.display-4 {
    line-height: 50px;
    padding: 10px;
    display: inline-block;
    color: #ffffff;
    background-color: rgba(44,39,9,0.51);
}

.text-light {
    background-color: rgba(44,39,9,0.51);
}

.col-md-5.feature-box {
    color: white;
    background-color: rgba(44,39,9,0.51);
}

.fa.fa-building-o.icon {
    color: #ef1a1a;
}

.fa.fa-graduation-cap.icon {
    color: #ef1a1a;
}

.fa.fa-heart.icon {
    color: #ef1a1a;
}

.fa.fa-dashboard.icon {
    color: #ef1a1a;
}

/*---Pricing page---*/

.clean-pricing-item .features .feature {
    color: #070707;
}

.h3, h3 {
    color: #070707;
}

/*---Testimonials page---*/

.clean-testimonial-item p {
    color: #0d0c0c;
    padding: 10px;
}

.clean-testimonial-item h3 {
    text-align: center;
    color: #070707;
    padding: 10px;
}

span {
    color: #0d0c0c;
}

/*---Contact Form---*/

.page.contact-us-page {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 20px;
    margin-top: 0px;
    padding-bottom: 20px;
    text-align: center;
    background-image: url("../../assets/img/cars/action-asphalt-automobile-automotive-593172.jpg");
}

.clean-block.dark .block-heading p {
    display: block;
    text-align: center;
}

.clean-block.clean-form.dark {
    background-color: transparent;
}

.clean-block.clean-form form {
    text-align: left;
    font-weight: 400;
    color: #ffffff;
    border-radius: 15px;
    border: 1px solid rgba(44,39,9,0.51);
    background-color: #555555;
    opacity: 0.8;
    max-width: 1200px;
    width: 100%;
}

/*---Buttons---*/

.btn-warning {
    color: #212529;
    background-color: #fcc309;
    border-color: #ffc107;
}

.btn.btn-outline-danger.btn-lg.text-danger {
    background-color: #d2d1d1;
    color: #ef1a1a;
    opacity: 0.58;
    filter: contrast(173%);
}

.btn.btn-primary.btn-block.d-block {
    text-align: center;
    background-color: #2d51ff;
    font-weight: bold;
    font-family: inherit;
    color: #f9f9f9;
    width: 175px;
    margin: 45px auto;
    border-radius: 10px;
    border: 0.5px solid #070707;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*---Footer---*/

#myFooter {
    background-color: #070707;
    color: #ffffff;
    padding-top: 30px;
    height: auto;
}

#myFooter .footer-copyright {
    background-color: #555555;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 40px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 25px;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter .btn:hover, #myFooter .btn:focus {
    text-decoration: none;
    color: #f9f9f9;
}

#myFooter a:hover, #myFooter a:focus {
    text-decoration: none;
    color: #ef1a1a;
}

#myFooter .social-links {
    padding-top: 20px;
    padding-bottom: 10px;
}

#myFooter .social-links a {
    font-size: 22px;
    color: #d2d1d1;
    padding: 10px;
    transition: 0.2s;
}

#myFooter #facebook:hover {
    color: #0077e2;
}

#myFooter #twitter:hover {
    color: #1ac4ef;
}

#myFooter #instagram:hover {
    color: #ef1a1a;
}

#myFooter #youtube:hover {
    color: #fa1c1c;
}

#myFooter .btn {
    background-color: #2d51ff;
    border-radius: 10px;
    border: 0.5px solid #f9d616;
    width: 160px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    line-height: 20px;
}

.col-12.col-md-3.col-xl-3 {
    align-self: center;
}

.text-info {
    text-align: center;
    height: 40px;
    padding: 10px;
    opacity: 0.8;
    filter: saturate(96%);
    font-size: 13px;
    font-style: oblique;
}

/*---Media Queries---*/

@media (min-width: 300px) {
    .clean-block.clean-hero {
    justify-content: center;
    display: flex;
    min-height: 90vh;
    padding-bottom: 5%;
    }
}

@media (min-width:576px) {  
    .clean-block.clean-hero {
    justify-content: center;
    display: flex;
    }

    .clean-block.clean-hero .text {
    padding: 1rem;
    }
}
